body{
    background: rgb(56, 52, 52);
    font-family: 'Titillium Web';
    color:white ;
    text-align: center;
    font-size: 1.4rem;

}
h1 ,h2 , h3{ 
    font-weight: 200;
}
h2 , h3{
    margin: 0;
    font-weight: 200;
}